<template name="battle">
  {{#if battleInfo}}
  <div class="row">
    <div class="col-md-4 text-center">
      <h4>
        <h3><a href="/user/{{battleInfo.users.[0].userId}}">{{userNickname battleInfo.users.[0].userId}}</a></h3>
        <h5>the <b>{{userVodkarClass battleInfo.users.[0].userId}}</b></h5>
      </h4>
      <div id="vodkar-0" class="thumbnail vodkar-model" style="margin: 0px 100px;">
        <img src="{{userVodkarModel battleInfo.users.[0].userId}}"> {{> attackEffectClaw side="left"}}
      </div>
      <div class="progress" style="margin: 10px 100px;">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{battleInfo.users.[0].currentHp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{battleInfo.users.[0].currentHp}}%;">
          <span>{{mathRound battleInfo.users.[0].currentHp}}</span>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h2>{{battleInfo.title}}</h2>
      </div>
      <hr class="star-primary">
      {{#unless isStarted}}
      <!-- Not started -->
      <br /> {{#if currentUser}} {{#if isCreator}} {{#if isReady}}
      <btn class="btn btn-block btn-success btn-start-battle">Start Battle!</btn>
      {{else}}
      <btn class="btn btn-block btn-success" disabled>Start Battle!</btn>
      {{/if}} {{else}} {{#if isJoined}}
      <btn class="btn btn-block btn-danger btn-leave-battle">Leave Battle</btn>
      {{else}} {{#if isReady}}
      <btn class="btn btn-block btn-info" disabled>Join Battle</btn>
      {{else}}
      <btn class="btn btn-block btn-info btn-join-battle">Join Battle</btn>
      {{/if}} {{/if}} {{/if}} {{/if}}
      <br />
      <div class="text-center">
        {{#unless isReady}} {{>loading}}
        <br/> Waiting for other Vodkar... {{/unless}}
      </div>
      <br /> {{else}}
      <!-- Started -->
      {{#unless isEnded}} {{/unless}} {{/unless}} {{#if isEnded}}
      <div class="row animated bounceIn">
        <div class="col-sm-3">
          <h4>{{{resultHtml battleInfo.users.[0].result}}}</h4>
          <p><span style="font-weight: bold;">{{battleInfo.users.[0].wordsCompleted}}</span></p>
          <p><span style="font-weight: bold;">{{battleInfo.users.[0].wpm}}</span></p>
          <p><span style="font-weight: bold;">{{showPercentage battleInfo.users.[0].accuracy}}</span></p>
        </div>
        <div class="col-sm-6 text-center">
          <h4>RESULT</h4>
          <p>Words Completed</p>
          <p>Words per Minute</p>
          <p>Accuracy</p>
        </div>
        <div class="col-sm-3 text-right">
          <h4>{{{resultHtml battleInfo.users.[1].result}}}</h4>
          <p><span style="font-weight: bold;">{{battleInfo.users.[1].wordsCompleted}}</span></p>
          <p><span style="font-weight: bold;">{{battleInfo.users.[1].wpm}}</span></p>
          <p><span style="font-weight: bold;">{{showPercentage battleInfo.users.[1].accuracy}}</span></p>
        </div>
      </div>
      <hr class="star-primary">
      {{/if}}
    </div>
    <div class="col-md-4 text-center">
      <h4>
      {{#if battleInfo.users.[1]}}
        <h3><a href="/user/{{battleInfo.users.[1].userId}}">{{userNickname battleInfo.users.[1].userId}}</a></h3>
        <h5>the <b>{{userVodkarClass battleInfo.users.[1].userId}}</b></h5>
      {{else}}
        <h3>Vodkar #2</h3>
        <h5>&nbsp;</h5>
      {{/if}}
      </h4>
      <div id="vodkar-1" class="thumbnail vodkar-model" style="margin: 0px 100px;">
        {{#if battleInfo.users.[1]}}
        <img src="{{userVodkarModel battleInfo.users.[1].userId}}"> {{else}}
        <img src="/images/no-avatar.png"> {{/if}} {{> attackEffectClaw side="right"}}
      </div>
      <div class="progress" style="margin: 10px 100px;">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{battleInfo.users.[1].currentHp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{battleInfo.users.[1].currentHp}}%;">
          <span>{{mathRound battleInfo.users.[1].currentHp}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{#if isStarted}}{{#if isJoined}} {{#unless isEnded}}
    <div style="margin: 0px 30px;">
      <div class="jumbotron">
        <p id="key">{{battleInfo.battleText}}</p>
        <input class="form-control txtbox" id="input-text" type="text">
      </div>
    </div>
    {{else}} {{> logAndComment}} {{/unless}} {{else}} {{> logAndComment}} {{/if}} {{/if}}
  </div>
  {{else}}
  <h3>Battle is destroyed or not exist!</h3> {{/if}}
</template>
