<template name="joinBattle">
  <div class="row equal">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Waiting For Vodkars</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              {{#each waitingBattles}}
              <tr>
                <td>
                  <a href="/battle/{{_id}}">{{title}}</a>
                </td>
                <td>
                  <a href="/battle/{{_id}}" class="btn btn-sm btn-success pull-right">Go</a>
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="2">
                  No Battles. <a class="btn btn-sm btn-success pull-right" href="{{pathFor 'create-battle'}}">Create</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">In Progress</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tbody>
              {{#each inProgressBattles}}
              <tr>
                <td>
                  <a href="/battle/{{_id}}">{{title}}</a>
                </td>
                <td>
                  <a href="/battle/{{_id}}" class="btn btn-sm btn-primary pull-right">Watch</a>
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="2">
                  No Battles.
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>
