<template name="shop">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Shopping for Ninja Models</h3>
      <br>
      Current Balance: <img src="/images/coins.png" width="24px"/> {{currentBalance}}
    </div>
    <div class="panel-body">
      {{#each ownedModels}}
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <img src="{{imageUrl}}" alt="{{title}}">
          <div class="caption text-center">
            <p><b>{{title}}</b></p>
            <p><img src="/images/coins.png" width="24px"/> {{price}}</p>
            <p>
              <a href="#" class="btn btn-primary" role="button" disabled>Owned</a>
              {{#if isUsed _id}}
              <a href="#" class="btn btn-default" role="button" disabled>Used</a>
              {{else}}
              <a href="#" class="btn btn-default btn-use" role="button" data-id="{{_id}}" data-title="{{title}}">Use</a>
              {{/if}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
      {{#each notOwnedModels}}
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="thumbnail">
          <img src="{{imageUrl}}" alt="{{title}}">
          <div class="caption text-center">
            <p><b>{{title}}</b></p>
            <p><img src="/images/coins.png" width="24px"/> {{price}}</p>
            <p>
              <a href="#" class="btn btn-primary btn-buy" role="button" data-id="{{_id}}" data-title="{{title}}">Buy</a>
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
