<template name="userProfile">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card hovercard">
        <div class="card-background">
          <img class="card-bkimg" alt="" src="{{userNinjaModel gameProfile.userId}}">
        </div>
        <div class="useravatar">
          <img alt="" src="{{userNinjaModel gameProfile.userId}}">
        </div>
        <div class="card-info">
          <span class="card-title">{{gameProfile.nickname}}</span>
          {{#if (canChangeNickname gameProfile.userId)}}
            &nbsp;<a id="change-nickname" style="cursor:pointer;"><i class="fa fa-pencil fa-lg"></i></a>
          {{/if}}

        </div>
      </div>
      <div class="well">
        <p>
          <i class="fa fa-envelope"></i> {{userInfo.emails.[0].address}}
        </p>
        <p>
          <i class="fa fa-user"></i> {{userNinjaClass userInfo._id}}
        </p>
        <p>
          <i class="fa fa-usd"></i> {{gameProfile.points}}
        </p>
      </div>
      <div class="well">
        <p>
          <i class="fa fa-cutlery"></i> Joined <b>{{gameProfile.gamesPlayed.length}}</b> battles, won <b>{{gameProfile.gamesWon.length}}</b>.
        </p>
        <p>
          <i class="fa fa-check"></i> Completed <b>{{gameProfile.wordsCompleted}}</b> words.
        </p>
        <p>
          <i class="fa fa-times"></i> Missed <b>{{gameProfile.wordsMissed}}</b> words.
        </p>
        <p>
          <i class="fa fa-clock-o"></i> Played for about {{humanizeDuration gameProfile.timePlayed}}
        </p>
      </div>
      <div class="well">
        <p><i class="fa fa-trophy"></i> Winrate: <b>{{showPercentage gameProfile.winrate}}</b></p>
        <p><i class="fa fa-trophy"></i> Words per Minute: <b>{{gameProfile.wpm}}</b></p>
        <p><i class="fa fa-trophy"></i> Accuracy: <b>{{showPercentage gameProfile.accuracy}}</b></p>
      </div>
      <div class="text-center">
        {{>shareit shareData}}
        <br/>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <div class="row">
        <input type="text" class="form-control" placeholder="Filter by opponent...">
        <br />
      </div>
      <div class="row">
        {{#each battles}}
        <div class="well">
          <p>
            <span><b><i class="fa fa-cutlery"></i> <a href="/battle/{{_id}}">{{title}}</a></b></span>
            <span class="pull-right text-muted"><i class="fa fa-clock-o"></i> <i>{{beatifyTime startTime}}</i></span>
          </p>
          <p>
            <span>Versus <a href="/user/{{opponentId this}}">{{userNickname (opponentId this)}}</a> the {{userNinjaClass (opponentId this)}}</span>
            <span class="pull-right">{{{battleResult this}}}</span>
          </p>
        </div>
        {{else}}
        <div class="well">
          {{userNickname gameProfile._id}} has not joined any battles.
        </div>
        {{/each}}
      </div>
      {{#if haveMoreBattles}}
      <div class="row">
        <button class="btn btn-block btn-info">More...</button>
        <br/>
      </div>
      {{/if}}
    </div>
  </div>
</template>
